body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(190, 142, 142);
}
.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   margin:50px 10px 10px 10px;
    width: 100%;
    
}
section{
    margin: 20px;
}
/*card1*/
.container .card1{
    width: 400px;
    height: 250px;
    display: flex;
    background-color: rgb(253, 253, 253); 
    box-shadow: 0 5px 40px rgba(173, 94, 94, 0.568);
    margin-top: 30px;
}
.container .card1 img{
    width: 400px;
    height: 250px;
    display: flex;
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.card1:hover .img{
   transform: translateX(-50px) translateY(-50px);

}
.card1:hover{
margin: 50px;

}
.container .card1 h2 {
    position: absolute;
    display: flex;
    top: 250px;
    left: 100px;
    visibility: hidden;
    opacity: 0;
}
.container .card1:hover h2{
    opacity: 1;
    visibility: visible;
}

/*card2*/

.container .card2{
    width: 400px;
    height: 200px;
    margin-top: 30px;
    position: relative;
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card2:hover{
    height: 250px;
}
.container .card2 img{
    position: relative;
    width: 350px;
    height: 250px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card2 img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card2 h2{
    position: relative;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 00.3s ease-in-out;
}
.container .card2:hover h2{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;

}


/*card2*/


.container .card3{
    width: 380px;
    height: 250px;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    margin-top: 30px;
}

.container .card3 img{
    position: relative;
    width:380px;
    height: 250px;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card3:hover img{
    transform:translateX(100px);  
    width: 200px;
    height: 200px;  
    
}
.container .card3 h2{
    position: relative;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.container .card3:hover h2{
    visibility: visible;
    opacity: 1;
}

/*card4*/


.container .card4{
    width: 400px;
    height: 250px;
    position: relative;
    background-color: rgb(194, 172, 172);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    margin-top: 30px;
}

.container .card4 img{
    position: relative;
    width:400px;
    height: 250px;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 3;
}
.container .card4:hover img{
    transform: translateX(300px) ;
    
}

.container .card4 h2, .card4 p {
    position: relative;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.container .card4:hover h2, .card4:hover p {
    visibility: visible;
    opacity: 1;
    top:-210px;
    left: -50px;
}
.card4:hover p{
    padding: 10px 50px;
}

/*card 5*/

.container .card5{
    width: 380px;
    height: 250px;
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    background:  rgb(158, 143, 143);

}
.container .card5 .h{
    height: 80px;
    background-color: black;
    color:#fff;
    text-align: center;
    top: 20px;
}
.container .card5 .p{
    top: 100px;
    height: 170px;
    background-color: rgb(158, 143, 143);
}
.container .card5 .p p{
    border: 2px solid black;
    box-shadow: inset 5px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    transform: translateY(10px);
    
}
.container .card5 img{
    position: relative;
    width:380px;
    height: 250px;
    transform: translateY(-195px);
    transform-origin:top ;
}
.container .card5:hover img{
    transform:  translateX(80px) translateY(-140px) scale(0.5);
}
.container .card5:hover  p{
    padding-right: 170px;
 }

/*card 6*/
.container .card6{
    width: 380px;
    height: 250px;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    background:  rgb(158, 143, 143);
    margin-top: 30px;
}
.container .card6{
    width: 380px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    background-color: rgb(141, 135, 135);

}
.container .card6 img{
    position: relative;
    width:380px;
    height: 300px;
    transition: 0.5s;
    transition-delay:0s;
    background-color: #fff;
}
.container .card6:hover img{
    transform: scale(0);
    transition-delay:0.3s;
}
.container .card6 h2,.container .card6 p{
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 20px;
    top: -170px;
    border: 2px solid black;
    transform: scale(0);
    transition-delay:0s;

}

.container .card6:hover h2,.container .card6:hover p{
    transform: scale(1);
    transition-delay:0.5s;
}



/*card 7*/
.container .card7{
    width: 380px;
    height: 250px;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    background:  rgb(255, 254, 254);
    overflow: hidden;
    border-radius: 5px;
}
.container .card7 img{
    position: relative;
    width:380px;
    height: 300px;
    transition: 0.5s;
}
.container .card7:hover img{
    transform: scale(0);
}
.container .card7 .content{
    position: relative;
    text-align: center;
    justify-content: center;
    height: 250px;
    top: -170px;
    transform: translateY(200px);

}
.container .card7 .content{
    background-color: rgb(19, 77, 185);
}
.container .card7:hover .content{
    transform: scale(1);
    transform: translateY(0);
    transition: 0.5s;
}

/*card 8*/
.container .card8{
    width: 380px;
    height: 250px;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    background:  rgb(255, 254, 254);
    border-radius: 5px;
}
.container .card8 .img{
    height: 200px;
    width: 300px;
    position: absolute;
    display: flex;
    margin: 30px;
    background-color: rgba(219, 210, 210, 0.522);
    z-index: 400;
    backdrop-filter: blur(1px);
    border-radius: 5px;
}
.container .card8 .img img{
    height: 150px;
    width: 150px;
    align-items: center;
    margin: auto;
    z-index: 300;
}
.container .card8 .content{
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.container .card8:hover .img{
    transform: translateX(-150px) ;
    transition:0.5s ;
    height: 150px;
    width: 200px;
    margin: 50px;
    
}
.container .card8:hover .content{
    margin-left: 100px;
    z-index: 900;
    transition:0.5s ;

}
.container .card8:hover .img img{
    height: 100px;
    width: 100px;
}

/*card 9*/

.container .card9{
    width: 380px;
    height: 250px;
    display: flex;
    background-color: rgba(255, 254, 254, 0.891); 
    box-shadow: 0 5px 40px rgba(173, 94, 94, 0.568);
    margin-top: 30px;
    border-radius: 5px;
    border: 5px solid white 
}
.container .card9 .content{
    width: 360px;
    height: 220px;
    display: flex;
    background-color: rgba(253, 253, 253, 0.864); 
    box-shadow: 0 5px 40px rgba(218, 116, 116, 0.568);
    margin: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 5px solid white;
}
.container .card9 .content>*{
margin: 10px;
}
.container .card9:hover .content{
    transform: translateY(-10px);
    z-index: 500;
    box-shadow: 0 5px 40px rgba(218, 116, 116, 0.568);
    animation-name: move;
    animation-duration: 2s;
    transition: 0.5s;
    background-color: blue;
}
@keyframes move {
    
    from{
        clip-path: circle(70px at 0 100px);
    }
    to{
        clip-path: circle(400px at 0 100px);
        background-color: blue;
    }
}

/*card 10*/
.container .card10{
    width: 380px;
    height: 250px;
    display: flex;
    background-color: rgb(255, 254, 254); 
    box-shadow: 0 5px 40px rgba(173, 94, 94, 0.568);
    margin-top: 30px;
    border-radius: 5px;
    border: 5px solid white ;
}
.container .card10 .content{
    width: 360px;
    height: 220px;
    display: flex;
    background-color: rgba(253, 253, 253, 0.864); 
    box-shadow: 0 5px 40px rgba(218, 116, 116, 0.568);
    margin: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 5px solid white;
}
.container .card10 .content h1{
    width: 200px;
    background-color: blue;
    height: 220px;
    align-items: center;
    clip-path: circle(150px at 0 100px);
    border-radius: 5px;
}
.container .card10 .content h3{
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 5px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    left: 20px;

}

/*card 11*/

.container .card11{
    width:600px;
    height: 260px;
    display: flex;
    background-color: rgb(255, 254, 254); 
    box-shadow: 2px 5px 40px rgba(173, 94, 94, 0.568);
    margin-top: 30px;
    margin-left: 30px;

    border-radius: 5px;
}
.container .card11>*{
    width: 200px;
    height: 220px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    position: relative;
    box-shadow: 0 5px 40px rgba(173, 94, 94, 0.568) ;
    z-index: 300;
}
.container .card11 h3{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: purple;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    margin-left: 50px;
}



/*card 12*/
.container .card12{
    width: 230px;
    height: 250px;
    display: flex;
    background-color: rgb(255, 254, 254); 
    box-shadow: 0 5px 40px rgba(173, 94, 94, 0.568);
    margin-top: 30px;
    left :20px;
    border-radius: 5px;
    border: 5px solid white ;
}
.container .card12 .content{
    width: 200px;
    height: 220px;
    margin: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    position: relative;
    background-color: rgb(151, 105, 134);
    box-shadow: inset 0 5px 40px rgba(151, 17, 95, 0.568) ;
}
.container .card12 h3{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    margin-left: 50px;
    text-decoration: 2px underline black;
}